<!-- INÍCIO TÍTULO DO SITE. -->
<div class="jumbotron">
    <h1 class="text-center"> Imóveis Nara Regina </h1>
 </div>
 <!-- FIM TÍTULO DO SITE. -->
 <!-- INÍCIO NAVBAR. -->
 <div class="row">
    <div class="col-md-12">
       <div class="container">
          <h2>Lista de imóveis comerciais cadastrados:</h2>
          <br>
          <!-- Nav pills -->
          <nav class="navBarMenu">
             <ul class="nav nav-pills" role="tablist">
             <li class="nav-item">
                <a href="/fotos" class="nav-link linkAtivo" data-toggle="pill" href="#home">Página Inicial</a>
             </li>
             <li class="nav-item">
                <a href="/fotos/casas" class="nav-link" data-toggle="pill" href="#menu1">Casas</a>
             </li>
             <li class="nav-item">
                <a href="/fotos/apartamentos" class="nav-link" data-toggle="pill" href="#menu2">Apartamentos</a>
             </li>
             <li class="nav-item">
                 <a href="/fotos/studios" class="nav-link" data-toggle="pill" href="#menu2">Studios</a>
             </li>
             <li class="nav-item">
                 <a href="/fotos/comercial" class="nav-link" data-toggle="pill" href="#menu2">Comercial</a>
             </li>
             </ul>
          </nav>
       </div>
    </div>
 </div>
 <!-- FIM NAVBAR. -->
