<!-- INÍCIO TÍTULO DO SITE. -->
<div class="jumbotron">
   <h1 class="text-center"> Imóveis Nara Regina </h1>
</div>
<!-- FIM TÍTULO DO SITE. -->

<!-- INÍCIO MENSAGEM DE ALERTA. -->
<p ng-show="mensagem.length" class="alert alert-info">
   {{mensagem}}
</p>
<!-- FIM MENSAGEM DE ALERTA. -->
<!-- INÍCIO NAVBAR. -->
<div class="row">
   <div class="col-md-12">
      <div class="container">
         <h2>Selecione sua opção:</h2>
         <br>
         <!-- Nav pills -->
         <nav class="navBarMenu">
            <ul class="nav nav-pills" role="tablist">
               <li class="nav-item">
                  <a href="/fotos" class="nav-link linkAtivo" data-toggle="pill" href="#home">Página Inicial</a>
               </li>
            </ul>
         </nav>
      </div>
   </div>
</div>
<!-- FIM NAVBAR. -->

<!-- INÍCIO BARRA PARA FILTRAR IMÓVEIS. -->
<div class="row">
   <div class="col-md-12">
      <form>
         <div class="input-group">
            <span class="input-group-btn">
               <a href="/fotos/new" class="btn btn-primary" type="button">
                  Novo Imóvel
               </a>
            </span>
            <input class="form-control" placeholder="Filtrar pelo título do Imóvel." ng-model="filtro"
               ng-model-options="{ debounce: 500 }">
      </form>
   </div>
</div>
<!-- FIM BARRA PARA FILTRAR IMÓVEIS. -->

<!-- INÍCIO PAINÉIS. -->
<div class="row">
   <meu-painel class="col-md-2 painel-animado" ng-repeat="foto in fotos | filter: filtro" titulo="{{foto.titulo}}">
      <minha-foto url="{{foto.url}}" alt="{{foto.titulo}}"></minha-foto>
      <a class="btn btn-primary btn-block btn-editar" href="/fotos/edit/{{foto._id}}">
         Editar
      </a>
      <meu-botao-perigo nome="Remover" acao="remover(foto)">Remover</meu-botao-perigo>
   </meu-painel>
</div>
<!-- FIM PAINÉIS. -->

<!-- INÍCIO LISTA DE IMÓVEIS CADASTRADOS. -->
<meus-titulos></meus-titulos>
<!-- FIM LISTA DE IMÓVEIS CADASTRADOS. -->